/* class */

.title {
  text-align: center;
}

/* vp + header */

header {
  flex-direction: column;
}

header ul {
  flex-direction: column;
  text-align: center;
}

header ul li {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px dotted #ddd;
}

.vp-content h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.vp-content p {
  font-size: 1.5rem;
  font-weight: 400;
}

/* team */
.team {
  flex-direction: column-reverse;
}

.team-content-img {
  min-height: 300px;
}

.team-content-text {
  padding: 4rem 2rem;
}

/* valeurs */
.valeurs {
  flex-direction: column-reverse;
}

.valeurs-content-img {
  min-height: 300px;
}

.valeurs-content-text {
  padding: 4rem 2rem;
}

/* contact */
.contact {
  padding: 5rem 1rem 5rem 1rem;
}