@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 4.5rem;
}

.underline-gradient {
    background-size:  100% 8%;
    background-repeat: no-repeat;
    background-position: left 0% bottom 0%;
    background-image: linear-gradient(28deg, transparent 5%, #4a7edd 15%, #4a7edd 85%, transparent 95%);
}

/* Bouton de dépliage du menu sur mobile */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: all 0.25s;
}
.hamburger-middle{
    transform: translateY(10px);
}
.hamburger-bottom{
    transform: translateY(20px);
}
.open .hamburger-top{
    transform: rotate(45deg) translate(6px, 6px);
}
.open .hamburger-middle{
    opacity: 0;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translate(-6px,6px);
}

#menu{
    transform-origin: top;
    transform: scaleY(0);
}
#menu.open{
    transform: scaleY(1);
}

/* Surbrillance bleu au survol pour liens des réseaux sociaux*/
.img-link{
    filter: invert(52%) sepia(54%) saturate(4300%) hue-rotate(202deg) brightness(92%) contrast(87%);
}
.img-link:hover{
    filter: invert(69%) sepia(77%) saturate(1732%) hue-rotate(4deg) brightness(83%) contrast(90%);
}